main {
    background-color: lightgray;
    margin: 0;
    padding: 5px;
}

main > h1, p, article {
    margin: 10px;
    padding: 5px;
}

article {
    background-color: white;
}

article > h2, p {
    font-size: 90%;
    margin: 4px ;
}

footer {
    background-color: lightgray;
    margin: auto;
    padding: 10px;
}

footer > div {
    background-color: white;
    margin: 4px;
    padding: 10px;
    text-align: center;
}

div > a {
    text-decoration: none;
    padding: 10px;
}